---
import {Prism} from '@astrojs/prism'
import Layout from '../../layouts/Layout.astro'
import CopyCode from '../../components/CopyCode.astro'
import {contentArray} from '../../db/db'
import BlockContent from '../../components/block/BlockContent.astro'

interface Content {
    id: number;
    slug: string;
    code: string;
    language: string; 
}

const code: Content | undefined = contentArray.find(c => c.slug === 'background-gradient');

---

<Layout 
	description="Componente hecho con tailwind, html para añadir el efecto gradiente a tu background"
	title="Background gradient" 
>
    <section class="flex flex-col gap-6 pr-10">
        <div class="flex flex-col gap-6">
            <h3 class="sr-only">Copia y disfruta del código para añadir este efecto de un background con gradiente</h3>
            <span class="text-primary text-4xl font-medium">Background gradient</span>
        </div>

        <BlockContent>
            <div 
                style={{border: '1px solid rgba(0,0,0,.2)', background: 'var(--cards-background-color)'}}
                class="relative w-full rounded-lg border p-4 max-h-[450px] h-[450px] overflow-auto grid place-content-center"
                data-id={code?.id}
            >
                <script is:inline define:vars={{code}}>
                    const blurred = document.querySelector(`[data-id="${code.id}"]`);
                    if (blurred) blurred.innerHTML = code?.code;
            
                  </script>
            </div>
            
            <div
                style={{border: '1px solid rgba(0,0,0,.2)', background: 'var(--cards-background-color)'}}
                class="relative w-full rounded-lg border border-[var(--color-primary)] max-h-[450px] h-[450px] overflow-auto"
            >
                <div>
                  <CopyCode slug={code?.slug}/>
                </div>
                <div class="text-lg h-full" id={code?.slug}>
                  <pre class='text-base flex h-full'>
                    {code && (
                        <Prism 
                        class="!border-0 !text-xl !mb-0 flex-grow !mt-8"
                        code={code.code} 
                        lang={code.language} />
                    )}
                    </pre>
                </div>
            </div>    
        </BlockContent>
    </section>
</Layout>

<script>
    
</script>
