---
import {Prism} from '@astrojs/prism'
import Layout from '../../layouts/Layout.astro'
import CopyCode from '../../components/CopyCode.astro'
import {contentArray} from '../../db/db'
import BlockContent from '../../components/block/BlockContent.astro'

interface Content {
    id: number;
    slug: string;
    code: string;
    language: string; 
}

const CODE: Content | undefined = contentArray.find(c => c.slug === 'title-merged-with-image');

---

<Layout 
	description="Componente hecho con tailwind, html para añadir el efecto blur a tu menú de navegación"
	title="Title Merged with image" 
>
    <section class="flex flex-col gap-6 pr-10">
        <div class="flex flex-col gap-6">
            <h3 class="sr-only">Copia y disfruta del código para añadir este efecto de imagen integrada con el texto</h3>
            <span class="text-primary text-4xl font-medium">Title merged with Image</span>
        </div>

        <BlockContent>
            <div 
                style={{border: '1px solid rgba(0,0,0,.2)', background: 'var(--cards-background-color)'}}
                class="relative w-full rounded-lg border p-4 max-h-[450px] h-[450px] overflow-auto grid place-content-center" 
                data-id={CODE?.id}
            >
                <script is:inline define:vars={{CODE}}>
                    const blurred = document.querySelector(`[data-id="${CODE.id}"]`);
                    if (blurred) blurred.innerHTML = CODE?.code;
            
                  </script>
            </div>
            
            <div
                style={{border: '1px solid rgba(0,0,0,.2)', background: 'var(--cards-background-color)'}}
                class="relative w-full rounded-lg border border-[var(--color-primary)] max-h-[450px] h-[450px] overflow-auto"
            >
                <div>
                  <CopyCode slug="title-merged-with-image"/>
                </div>
                <div class="text-lg h-full" id="title-merged-with-image">
                  <pre class='text-base flex h-full'>
                    {CODE && (
                        <Prism 
                        class="!border-0 !text-xl !mb-0 flex-grow !mt-8"
                        code={CODE.code} 
                        lang={CODE.language} />
                    )}
                    </pre>
                </div>
            </div>    
        </BlockContent>
    </section>
</Layout>

<script>
    
</script>
